*{
background-color:skyblue ;
}
nav{
	background-color: green;
	padding:0px;
}
.logo img{
height:100px;
width: 100px;
}
.p p{
	background-color: green;
	font-family:Blackadder ITC ;
	font-size:30px;
	padding-left:300px;
	padding-bottom:50px;
}
.facilities ul{
	list-style: none;
	float: left;
	

	
}
.facilities ul li{
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	line-height: 0px;

}
.facilities ul li a{
	text-decoration:none ;
	color: black;
	padding-left: 20px;
}
.facilities ul li a:hover{
	background:orange ;
	border-radius:100px ;
}
.intro p marquee{
	background-color: green;
	font-size:20px ;
}
.box{
	background-color: skyblue;
}
.box p{
	font-size:25px ;
	font-family:cursive ;
}
